@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;


}
.bg-grade-1{
  @apply bg-gradient-to-r from-[#FE9800] via-[#E73604] to-[#811C18]
}
.bg-grade-2{
  @apply bg-gradient-to-r from-[#811C18] via-[#E73604] to-[#FE9800]
}
